xsd/contradict_solution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ContradictionSolution" type="ContradictionSolutionType"/>
    <xsd:complexType name="ContradictionSolutionType">
        <xsd:sequence>
            <xsd:element name="ruleId" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="toRemove" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>