xsd/webservice_input_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="firewall_rules.xsd"/>
    <xsd:include schemaLocation="conflict_schema.xsd"/>
    <xsd:element name="ServiceInput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DefectedRules" type="Rules"/>
                <xsd:element name="AnomaliesList" type="Anomalies"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>